<% include ./partials/header %>
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Rocky's Place</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/restaurant.jpeg" alt="">
                </div>
                <div class="col-md-6">
                    <p>This is a great place to dine and eat out!</p>
                    <p>We serve old-fashioned breakfast, lunch and dinner!</p>
                    <p>Feeling hungry? Come on down and re-experience home cook meal with a family-friendly atmosphere!</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/businessman-607834_1280.png" alt="">
                    <h3>Joseph Smith
                        <small>Manager</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/men-chef-1514505_1280.png" alt="">
                    <h3>Fred Carson
                        <small>Chef</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="img/avatar-1294790_1280.png" alt="">
                    <h3>Jane Wilson
                        <small>Server</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
     <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        </script>
 </body>
</html>