<html>
    <body>
        <form action="search" method="post">
            <input type="text" name="image" placeholder="search">
              <input type="submit" name="enter">
        </form>
        <form action="addfood" method="post">
            <input type="text" name="food" placeholder="food">
             <input type="text" name="image" placeholder="<%=image%>" value="<%=image%>">
            <input type="number" placeholder="price" name="price">
            <input type="text" name="desc" placeholder="food description">
            <select name="cat">
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="dessert">Dessert</option>
            </select>
           
            <input type="submit" name="enter">
        </form>
    </body>
</html>